*{
    box-sizing: border-box;
}

/*body*/
body{
    background-color: aliceblue;
    height: auto;
    display: grid;
    grid-template-rows: 10vh auto;
    margin: 0;
    padding: 2em;
}


/* navigation bar*/

.nav-bar{
    background-color: rgb(7, 7, 46);
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 2em;
    border: 0.3em rgb(8, 16, 122) groove;
    /* border-radius: 2em; */
    opacity: 0.9;
    top:     0;
}

/*when screen normal*/
.nav-element a{
    text-decoration: none;
    color: rgb(180, 255, 230);
    cursor: pointer;
}
.nav-element:hover{
    transform: scale(1.2);
}

/*for small screen*/
.nav-button{
    display: none;
    position: relative;
    color: antiquewhite;
    width: 100%;
    height: 100%;
    background-color: black;
}
.nav-button-image{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    align-items: center;
    padding-right: 2%;
}
.nav-button-image img{
    cursor: pointer;
}
.nav-button-table{
    display: none;
    background-color: inherit;
}
.nav-button-table table{
    width: 100%;
    height: 100%;
}
.nav-button-table table tr td{
    font-size: large;
    border: 0.1px rgb(15, 15, 15) groove;
    cursor: pointer;
}
.nav-button-table td:hover{
    background-color:rgb(24, 24, 46);
    border: none;
    font-size: larger;
}

/*animation of nav-image*/
.animate{
    animation: rotate 0.4s ease;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(36deg);
    }
    20%{
        transform: rotate(72deg);
    }
    30%{
        transform: rotate(108deg);
    }
    40%{
        transform: rotate(144deg);
    }
    50%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(216deg);
    }
    70%{
        transform: rotate(252deg);
    }
    80%{
        transform: rotate(288deg);
    }
    90%{
        transform: rotate(324deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width:500px){

    .nav-bar{
        padding: 0;
    }
    .nav-button{
        display: block;
    }
    .nav-element{
        display: none;
    }
    .img-div{
        border: none;
        height: 50vh;
    }
    .img-div{
        border-radius: 0;
    }
    .content-div{
        padding: 0;
    }
    .content-div p{
        padding: 0;
    }
}

/*image and title*/
.container{
    /* background-color: aqua; */
    width: 100%;
}
.img-div{
    background-image: url("img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* border-radius: 1em; */
    border: none;
    align-items: center;
    align-content: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
.img-div h1{
    color: rgb(107, 188, 255);
    font-weight: bolder;
    font-size: calc(5vw);



}
/*content divs*/

.content-div{
    justify-content:center;
    padding: 5em 10em;
    font-size: larger;
    text-align: center;
    gap: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.content-div p{
    padding: 2em;
}
.footer{
    height: 20vh;
    width: auto;
    background-color: rgb(45, 5, 83);
}